<h1 class="text-center"> Hello Students</h1>



  <!-- navbar -->
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark"> -->
  <nav class="navbar navbar-dark bg-dark">
  <ul class="navabr-nav">
    <li class="navbar-item">
      <a routerLink="students" routerLinkActive="active" class="nav-link">Students list</a>
    </li>

    <li class="navbar-item">
      <a routerLink="saveStudent" routerLinkActive="active" class="nav-link">Save Student</a>
    </li>

  </ul>
</nav>
<div class="container">
  <!-- <app-student-list></app-student-list> -->
 
  <!-- after rounting -->
  <router-outlet></router-outlet>

</div>